body {
    font-family: Georgia, Times, "Times New Roman", serif;
}

p, ul, ol {
    font-size: 100%;
    line-height: 20px;
    text-align: justify;
}

p {
    text-indent: 15px;
}

h1 {
    font-size: 160%;
}

h2 {
    font-size: 125%;
}

img {
    height: 300px;
}

figure figcaption {
    text-align: center;
    font-style: italic;
    font-size: 90%;
}

h1 {
    color: blue;
}

p {
    color: red;
}
