header, section, footer, aside, nav, article, figure {display: block;}

a{
    color:black;
}

a:hover{
    color:grey;
}

fieldset{
    border: 1px ridge black;
    border-radius: 10px;
    padding: 10px 0px 10px 20px;
    width: 315px;
}

button:link{
    color:black;
}

button:hover{
    background:Gainsboro;
}

button:active{
    background:grey;
}

input[type=text]{
    color:grey;
}

input[type=text]:focus{
    color:black;
}

legend{
    display: block;
}

nav a{
    font-family:'Courier New', Courier, monospace;
}

.form_input{
    width: 150px;
    height: 20px;
    text-align: left;
    padding: 0px, 0px, 0px, 10px;
}
.form_label{
    float: left;
    width: 120px;
    text-align: right;
    padding: 0px, 10px, 0px, 0px;
}

.centered_image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

.centered_text{
    text-align: center;
}

#content {
    margin-top: 70px; /* Add a top margin to avoid content overlay */
}
